<div id="form">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="question" id="question-title">
        </div>
      </div>


      <div class="col-md-6 col-12">
        <div id="auto-text">{{text}}</div>
      </div>

      <div class="col-12 col-md-6">

        <ng-container *ngFor="let stage of stages">
          <app-stage *ngIf="stage.selected" (autoText)="completeText($event)" (stageOutput)="moveStage($event)" [stage]="stage"></app-stage>
        </ng-container>


        <!-- <app-question *ngIf="question" [question]="question" (childrens)="childrens($event)" (autoText)="autoText($event)"></app-question> -->

      </div>
    </div>
  </div>

</div>


