.title{
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
  // border-bottom:solid 3px #FFE167;
}

.title-grand{
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
}

.question{
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.question-img{
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.choice-img{
  max-width: 100%;
}

.choices{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  .choice{

    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(#f2f2f2, .7);
    // background: red;

    &:hover{
      background-color: rgba(#FFE167, .7);
      transform: translateY(-10px);
    }



    .choice-title{
      font-weight: 500;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 5px;
      text-transform: capitalize;
    }



    width: 100%;
    flex-direction: row;
    min-height: 80px;
    height: 80px;
    padding: .5em 1em;
    margin: .5em;
    justify-content: flex-start;
    .choice-img{
      width: 60px;
      height: 60px;
    }

    .choice-title{
      margin-left: 20px;
    }

    transition: transform .2 ease,background .2 ease,-webkit-transform .2 ease;



  }

  .choice.mini{
    width: calc(25% - 1em);
    justify-content: center;
    .choice-title{
      margin: 0;
    }
  }
}

.chip{
  cursor: pointer;
  &:hover{
    background-color: rgba(#FFE167, .7);
  }
}
