#carousel-home{
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url('./../../../assets/images/carousel.svg');
  background-size: auto 40%;
  height: 75vh;
  // background-color: red;
}
